<main class="container" [class.modal-is-open]="successMessage" [class.modal-is-opening]="successMessage">
  <div class="game-header">
    <h2 class="game-title">Trouvez l'intrus !</h2>

    <!--    Choose a type section -->
    <div class="category-selector">
      <label for="categoryType">Choisir un type :</label>
      <select id="categoryType" (change)="onTypeChange($event)">
        <option value="animals">Animaux</option>
        <option value="vehicles">Véhicules</option>
        <option value="monuments">Monuments</option>
      </select>
    </div>

    <!--    Progression section -->
    @if (progression$ | async; as progression) {
      <div class="level-bar">
        <span class="level-number">Level {{ progression.level }}</span>
        <div class="progress-container">
          <div class="progress-bar">
            <div
              class="progress-fill"
              [style.width.%]="(progression.currentXP / progression.nextLevelXP) * 100">
            </div>
          </div>
          <span class="xp-text">{{ progression.currentXP }}/{{ progression.nextLevelXP }}</span>
        </div>
      </div>
    }
  </div>


  @if (loading) {
    <div aria-busy="true"></div>
  }

  <!--  Card Image section -->
  <img src="./assets/images/v2-background-minigames.jpg" alt="background image" id="v2-background-minigames">
  <div class="grid">
    @for (image of images$ | async; let i = $index; track image.id) {
      <article [borderFeedback]="feedbackState[image.id]">
        <div class="number">{{ i + 1 }}</div>
        <div class="image-container">
          <img
            [src]="image.url"
            [alt]="image.alt"
            (click)="checkImage(image)"
            loading="lazy"
          >
        </div>

          <footer>
            <small> @if (showFooter[image.id]) { {{ image.alt }} } </small>
          </footer>

      </article>
    }
  </div>


  @if (successMessage) {
    <dialog open>
      <article>
        <h3>🎉 Bravo !</h3>
        <p>{{ successMessage }}</p>
      </article>
    </dialog>
  }

</main>
